.env
# Python
*.pyc
__pycache__/
*.pyo
*.pyd
env/
venv/
ENV/
env.bak/
venv.bak/

# Django stuff:
*.log
local_settings.py
db.sqlite3
media/

# Environment variables file
.env

# VSCode
.vscode/

# PyCharm
.idea/
